body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.red{
    background-color: rgb(173, 77, 77);
}
.yellow{
    background-color: rgb(176, 176, 97);
}
.green{
    background-color: yellowgreen;
}
.blue{
    background-color: skyblue;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}